<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn">Eliminar</button>
</form>
